.navbar {
  background-color: #eeeee4;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.navbar ul {
  list-style: none;
  display: contents;
}

.navbar li a {
  text-decoration: none;
  padding-left: 50px;
  color: #181817;
  font-weight: 800;
}

.saves {
  position: absolute;
  right: 1px;
  padding-right: 50px;
}

ul {
  padding: 0;
}

.menu-bars {
  margin-left: 40px;
  font-size: 2rem;
  background: none;
  color: #181817;
}

.nav-menu {
  background-color: #eeeee4;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 8px 8px 6px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #181817;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #a7a7a0;
}

h2 {
  font-size: 25px;
  margin-left: 16px;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #eeeee4;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

@media screen and (max-width: 901px) {
  .saves {
    padding-right: 40px;
  }
}

@media screen and (max-width: 751px) {
  .saves {
    padding-right: 20px;
  }

  .navbar li a {
    padding-left: 10%;
  }
}

@media screen and (max-width: 501px) {
  .saves {
    padding-right: 15px;
  }

  .navbar li a {
    padding-left: 5%;
  }

  .menu-bars {
    margin-left: 15px;
  }
}

@media screen and (max-width: 340px) {
  .menu-bars {
    margin-left: 5%;
  }

  .saves {
    padding-right: 5px;
  }
}
